/* html style */
html{
   background-color: #f1faee;
}
/*h1 styles*/
header h1{
   float: top;
   margin-bottom: -6px;
   width: 100%;
   height: 70px;
   text-align: center;
}

/* h1.richard{
    position: absolute;
    left: 0px;
    width: 50%;
}

h1.george{
    position: absolute;
    right: 0px;
    width: 50%;
} */

/*test*/
/* #leftside {
    background-color: red;
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
 }
 
 #rightside {
    background-color: blue;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
 } */

/*button styles*/
 button.left{
    background-color: rgb(255, 44, 44);
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
    cursor: url('thumbsup.png'), pointer;
 }

 button.right{
    background-color: rgb(44, 44, 255);
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    cursor: url('thumbsdown.png'), pointer;
 }

 /* forN id styles
 p#forR{
   width: 50%;
   position: absolute;
   left: 0px;
   height: 100%;
 } */

 /*Body Styles / Removed some white space from body*/
 body{
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;
   clear: both;
 }